{% load static %}

<div class="footer-data" data-aos="fade-right">
    <h2>Матеріали</h2>
    <p><a href="#">Репортажі</a></p>
    <p><a href="#">Інтерв'ю</a></p>
    <p><a href="#">Статті</a></p>
    <p><a href="#">Аналітика</a></p>
</div>

<div class="footer-data" data-aos="fade-left">
    <h2>Контакти</h2>
    <p><a href="mailto:info@podilnews.com">Пошта</a></p>
    <p><a href="#">Редакція</a></p>
    <p><a href="#">Допомога</a></p>
    <p><a href="#">Стати автором</a></p>
</div>

<div class="footer-data" data-aos="fade-left">
    <h2>Правові аспекти</h2>
    <p><a href="#">Політика конфіденційності</a></p>
    <p><a href="#">Умови використання</a></p>
    <p><a href="#">Доступність</a></p>
    <p><a href="#">Авторські права</a></p>
</div>