@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --header-height: 6rem;

    /* Color */
    --bg1: #fff;
    --bg2: #faf8f8;
    --text: #363636;
    --green: #4bae4f;
    --orange: #ff6929;
    --light-gradient: #ffb429;
    --dark-gradient: #fe431e;
    --linear-orange: linear-gradient(45deg, var(--light-gradient) 0%, var(--dark-gradient) 100%);

    /* Font and Typography */
    --font-body: 'Poppins', sans-serif;
    --big-font-size: 3.7rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    font-size: var(--normal-font-size);
    background-color: var(--bg1);
    color: var(--text);
    position: relative;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header Sections */
.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg1);
    padding: 1rem 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 1.5rem;
}

.nav-link {
    font-size: var(--h3-font-size);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text);
    padding-bottom: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.nav-link::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--orange);
    opacity: 0;
}

.nav-link:hover::before {
    opacity: 1;
}

.nav-link:hover,
.active {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    transition: all 0.4s ease-in-out;
}

.nav-close,
.nav-toggle {
    display: none;
}

.contact {
    font-size: var(--h3-font-size);
    color: var(--light-gradient);
    font-weight: 500;
    padding: 2px 20px;
    position: relative;
    border: 3px solid var(--light-gradient);
    transition: 0.3s;
    margin-bottom: -7px;
    border-radius: 5px;
}

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--linear-orange);
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left center;
    transition: 0.3s;
}

.contact:hover::before {
    transform: scaleX(1);
}

.contact:hover {
    color: var(--bg1);
    border-color: transparent;
    padding: 4px 21px;
}

/* Header Shadow */

.header-shadow {
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* Home Sections */

.home .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg1);
    min-height: 100vh;
}

.home .left h1 {
    font-size: var(--big-font-size);
    line-height: 60px;
    margin-top: 40px;
}

.home .left p {
    font-weight: 500;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.home .left form button {
    border-radius: 5px;
    background-image: var(--linear-orange);
    color: var(--bg1);
    font-size: var(--normal-font-size);
    padding: 8px 35px;
    position: absolute;
    right: 40px;
    top: 10px;
    cursor: pointer;
}

.home .left .numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}

.home .left .numbers .parent {
    position: relative;
    text-align: center;
    width: 180px;
}

.home .left .numbers .parent .text {
    position: relative;
    z-index: 1;
}

.home .left .numbers .parent .text h1 {
    color: var(--bg1);
    font-size: 1.5rem;
    margin: 0;
}

.home .left .numbers .parent .text h2 {
    color: var(--bg1);
    font-size: var(--h2-font-size);
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.home .left .numbers .parent img {
    width: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.home .right {
    position: relative;
}

.home .right home-model {
    width: 450px;
    margin-right: -40px;
    scale: 1.2;
}

.home .right .icon {
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(41, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.home .right .icon img {
    width: 60px;
}

.home .right .icon:nth-child(2) {
    bottom: 5px;
    right: 50px;
    animation: insta 1.2s alternate-reverse ease-in-out infinite;
}

@keyframes insta {
    100% {
        bottom: 30px;
    }
}

.home .right .icon:nth-child(3) {
    transform: scale(1.2);
    top: 120px;
    right: -30px;
    animation: mort 1.7s alternate-reverse ease-in-out infinite;
}

@keyframes mort {
    100% {
        top: 100px;
    }
}

.home .right .icon:nth-child(3) img {
    width: 75px;
}

.home .right .icon:nth-child(4) {
    top: 190px;
    left: -30px;
    animation: tips 1.5s alternate-reverse ease-in-out infinite;
}

@keyframes tips {
    100% {
        top: 170px;
    }
}

/* About Section */

.about .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
    background-color: var(--bg1);
}

.about .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    height: 490px;
    background-color: var(--bg1);
    border-radius: 20px 200px 10px 0;
    padding: 0 20px;
}

.about .left img {
    width: 360px;
    z-index: 2;
}

.about .left::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 25px;
    width: 400px;
    height: 490px;
    background-color: var(--light-gradient);
    z-index: 1;
    opacity: 0.3;
    border-radius: 0 0 20px 200px;
}

.about .right h1 {
    font-size: var(--big-font-size);
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.about .right h1 span {
    text-transform: uppercase;
    background-color: var(--light-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.about .right p {
    font-weight: 500;
    line-height: 17px;
}

.about .right .advantages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 50px;
}

.about .right .advantages figure {
    font-size: 1.7rem;
    color: var(--green);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.about .right .advantages figure img {
    width: 30px;
}

/* Courses Section */

.courses .container {
    min-height: 80vh;
    background-color: var(--bg1);
    padding-top: 60px;
    padding-bottom: 60px;
}

.courses h1 {
    text-align: center;
    font-size: var(--big-font-size);
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 80px;
}

.courses h1 span {
    background-color: var(--light-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.courses .parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 4rem;
}

.courses .parent .child {
    width: 320px;
    height: 75px;
    border-radius: 10px;
    border: 3px solid var(--light-gradient);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    transition: 0.4s;
}

.courses .parent .child::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    top: 0;
    background-image: var(--linear-orange);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}

.courses .parent .child img {
    width: 50px;
}

.courses .parent .child h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--text);
    line-height: 27px;
    transition: 0.4s;
}

.courses .parent .child:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

/* Articles Section */
.articles {
    background-color: var(--bg1);
    padding: 80px 0;
    text-align: center;
}

.articles h1 {
    font-size: var(--big-font-size);
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.articles h1 span {
    background: var(--linear-orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.articles-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.article-card {
    width: 30%;
    background: var(--bg1);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.article-card:hover {
    transform: translateY(-10px);
}

.article-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-content {
    padding: 20px;
    text-align: left;
}

.article-content h2 {
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin-bottom: 10px;
}

.article-content p {
    font-size: var(--normal-font-size);
    color: var(--text);
    margin-bottom: 15px;
}

.article-meta {
    display: flex;
    justify-content: space-between;
    font-size: var(--small-font-size);
    color: #777;
    font-weight: 500;
}

.more-articles {
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.more-articles-button {
    display: inline-block;
    padding: 12px 25px;
    background: var(--linear-orange);
    color: var(--bg1);
    text-decoration: none;
    font-size: var(--h2-font-size);
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    box-shadow: 0px 5px 15px rgba(255, 126, 95, 0.3);
    position: relative;
    overflow: hidden;
}

.more-articles-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: left 0.3s;
}

.more-articles-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(255, 126, 95, 0.5);
}

.more-articles-button:hover::after {
    left: 100%;
}

/* Contact Section */
.contact_section .container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgl);
    min-height: 100vh;
}

.contact_section .left h1 {
    font-size: var(--big-font-size);
    line-height: 60px;
    margin-top: 40px;
}

.contact_section .left p {
    font-weight: 500;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.contact_section .left form {
    position: relative;
    margin-bottom: 30px;
}

.contact_section .left form input {
    background-color: var(--bg1);
    color: var(--text);
    border-radius: 7px;
    width: 580px;
    height: 65px;
    font-size: var(--normal-font-size);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 10px 5px 20px;
}

.contact_section .left form button {
    border-radius: 5px;
    background-image: var(--linear-orange);
    color: var(--bg1);
    font-size: var(--h3-font-size);
    padding: 8px 35px;
    position: absolute;
    right: 80px;
    top: 10px;
    cursor: pointer;
}

.contact_section .right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 900px;
    height: 490px;
    background-color: var(--light-gradient);
    border-radius: 20px 200px 10px 0;
    padding: 0 20px;
    transform: scale(0.85);
}

.contact_section .right img {
    width: 500px;
}

.contact_section .right::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 25px;
    width: 450px;
    height: 490px;
    background-color: var(--light-gradient);
    z-index: -1;
    opacity: 0.3;
    border-radius: 0 0 20px 200px;
}

/* Footer Section */

.footer-list {
    padding: var(--header-height);
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--orange);
}

.footer-data {
    text-align: center;
    margin-bottom: 1rem;
}

.footer-data-social {
    margin-top: 1rem;
}

.footer-data-social i {
    color: var(--text);
    font-size: var(--h3-font-size);
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}

.footer-data-social i:hover {
    color: var(--orange);
    transform: scale(1.1);
}

.footer-data h2 {
    font-weight: 700;
    font-size: var(--h2-font-size);
    line-height: 1.5rem;
    color: var(--orange);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.footer-data p {
    font-size: var(--h3-font-size);
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.footer-data p:hover {
    text-decoration: underline;
}

.copy {
    text-align: center;
    padding: 1rem 0;
}

.copy p {
    font-weight: 700;
    line-height: 1.5rem;
}

.copy span {
    font-size: var(--small-font-size);
    line-height: 1rem;
}

/* Media Queries */

@media (max-width: 960px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
    }

    /* Header Section */

    .nav {
        width: 0;
        opacity: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        backdrop-filter: blur(5px);
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.3);
        padding-top: var(--header-height);
        transition: 0.3s all;
    }

    .nav-menu {
        display: block;
        text-align: center;
    }

    .nav-menu li {
        width: 100%;
        padding: 1.5rem 0;
    }

    .nav-link {
        color: var(--bg1);
        font-size: var(--h1-font-size);
    }

    .active {
        color: var(--orange);
    }

    .nav-close {
        display: none;
        position: absolute;
        top: 1.3rem;
        right: 1.25rem;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }

    .nav-close i {
        font-size: var(--big-font-size);
        color: var(--text);
    }

    .nav-close:hover i {
        color: var(--orange);
    }

    .nav-toggle {
        display: block;
        z-index: 10;
    }

    .nav-toggle i {
        font-size: var(--big-font-size);
        color: var(--text);
        cursor: pointer;
    }

    .nav-toggle:hover i {
        color: var(--orange);
    }

    .contact {
        font-size: var(--big-font-size);
    }

    .show-menu {
        width: 100%;
        opacity: 1;
    }

    .visible {
        display: block;
    }

    /* Home Section */
    .home .container {
        flex-direction: column;
        text-align: center;
    }

    .home .left h1 {
        margin-top: 100px;
    }

    .home .left form button {
        right: 25px;
    }

    .home .left .numbers {
        transform: scale(0.7);
        grid-template-columns: repeat(3, auto);
    }

    .home .right {
        transform: scale(0.9);
        margin-bottom: 20px;
        margin-right: 0;
    }

    .home .left {
        margin-left: 0;
    }

    /* About Section */
    .about .container {
        flex-direction: column;
        transform: scale(0.9);
    }

    /* Contact Section */
    .contact_section .container {
        flex-direction: column;
        transform: scale(0.9);
        width: 100%;
        text-align: center;
    }

    .contact_section .left form button {
        right: 40px;
    }

    /* Footer Section */
    .footer-list {
        transform: scale(0.9);
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 1060px) {
    .home .container {
        transform: scale(0.9);
    }

    .articles-grid {
        gap: 20px;
    }

    .article-card {
        width: 45%;
    }

    .contact_section .container {
        transform: scale(0.9);
    }
}

@media (max-width: 560px) {
    .home .container {
        transform: scale(0.9);
    }

    .home .left form input [type="email"] {
        width: 400px;
    }

    .home .left .numbers {
        transform: scale(0.7);
        grid-template-columns: unset;
    }

    .about .container {
        transform: scale(0.9);
    }

    .articles {
        padding: 60px 0;
    }

    .articles h1 {
        font-size: var(--h2-font-size);
    }

    .articles-grid {
        flex-direction: column;
        align-items: center;
    }

    .article-card {
        width: 90%;
    }

    .contact_section .container {
        transform: scale (0.9);
    }

    .contact_section .container .left input {
        width: 400px;
    }

    .footer-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .home .container {
        transform: scale(0.8);
    }

    .home .left form input [type="email"] {
        width: 350px;
    }

    .about .container {
        transform: scale(0.8);
    }

    .articles {
        padding: 50px 0;
    }

    .articles h1 {
        font-size: var(--h3-font-size);
    }

    .article-card {
        width: 100%;
    }

    .article-content h2 {
        font-size: var(--normal-font-size);
    }

    .contact_section .container {
        transform: scale (0.8);
    }
}